{% extends 'base.html.twig' %}

{% block body %}
    <div id="footerText">
        <div class="footerDiv">
            <ul>
                <li class="footerText">Gestion locative</li>
                <li class="footerText">Contact téléphone : 06 06 06 06 06</li>
                <li class="footerText">Contact émail : contact@gestionlocative.fr</li>
            </ul>
        </div>
        <div class="footerDiv">
            <ul>
                <li class="footerText">Version 1.0</li>
            </ul>
        </div>
    </div>
{% endblock %}